.page-info-panel {
  background-color: #fff !important;
  padding: 1rem;

  p {
    margin: 0 !important;
    padding: 0 !important;
  }

  .title {
    font-size: 2rem;
    font-weight: 500;
    color: #546e7a;
  }

  .sub-title {
    font-size: 14px;
  }

  .btn-group {
    text-align: right;
  }
}
